{% extends "blog/index.html" %}
{% load web_filters %}
{% block content %}
<div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
        {% if posts %}
            {% for p in posts %}
                <div class="card mb-4">
                    <div class="card-body d-flex align-items-center">
                        {% if p.head_image %}
                            <a href="#!">
                                <img class="img-fluid rounded me-3" src="{{ p.head_image.url }}" alt="{{ p.title }} head_image" style="max-width: 200px; height: auto;"/>
                            </a>
                        {% endif %}
                        
                        <div>
                            <div class="small text-muted">{{ p.created_at }} 작성</div>
                            <h2 class="card-title mb-1" style="font-size: 1.5rem;">{{ p.title }}</h2>
                            <p class="card-text">{{ p.content|mark }}</p>
                            <a class="btn btn-primary" href="{{ p.go2page }}" style="background-color: transparent; border: 1px solid rgba(0, 123, 255, 0.5); color: rgba(0, 123, 255, 0.5);">더 알아보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card mb-4">
                <div class="card-body d-flex align-items-center">
                    글을 작성해주세요.
                </div>
            </div>
        {% endif %}

        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <!-- 이전페이지 -->
                {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in posts.paginator.page_range %}
                    {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
                        {% if page_number == posts.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" data-page="{{ page_number }}" href="?page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" data-page="{{ page_number }}" href="?page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link" data-page="{{ page_number }}" href="?page={{ posts.next_page_number }}">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- Side widgets-->
    {% include "sidebar.html" %}
</div>
{% endblock %}