{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
<body>
    <div>
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                <!-- Download files -->
                {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" style="text-decoration: none; font-size: 0.875rem;" download>{{ file_name }}</a>
                {% endif %}
                <!-- Preview image figure-->
                {% if post.head_image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url}}" alt="{{post.title}} head_image" /></figure>
                {% else %}
                {% endif %}
                <p>{{post.content}}</p>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">작성일: {{post.created_at}}, 작성자: </div>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
            </header>
        </article>

        <!-- Leave Comments section-->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                        {% csrf_token %}
                        <div class="form-group d-flex align-items-center">
                            <!-- 텍스트 입력란 -->
                            <textarea class="form-control" rows="3" name="comment" placeholder="Your comment here..." style="flex: 1; height: calc(2.25rem + 2px);"></textarea>
                            <!-- 제출 버튼 -->
                            <button type="submit" class="btn btn-primary ml-3" style="height: calc(2.25rem + 2px); border: none; background-color: transparent; color: #007bff; box-shadow: none;">댓글</button>
                        </div>
                    </form>
                {% else %}
                    <div class="d-flex align-items-center">
                        <span>Log in and leave a comment</span>
                        <a role="button" class="btn btn-outline-dark btn-sm ml-2" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- List Comments section -->
        {% if post.comment_set.exists %}
            {% for comment in post.comment_set.iterator %}
                <!-- Single Comment -->
                <div class="media mb-4" id="comment-{{ comment.pk }}">
                    <!-- 사용자 아이콘 (왼쪽) -->
                    <div class="comment-avatar">
                        <img class="rounded-circle" src="{% static 'blog/assets/user.jpg' %}" alt="" width="40px">
                    </div>
                
                    <!-- 댓글 작성 영역 (오른쪽) -->
                    <div class="media-body">
                        <div class="d-flex justify-content-between">
                            <!-- 사용자 이름과 작성일 -->
                            <div>
                                <h6 class="mt-0">
                                    {{ comment.author.username }} 
                                    <small class="text-muted">
                                        {% if comment.modified_at is none %}
                                            {{ comment.created_at|date:"Y년 m월 d일 H:i A" }}
                                        {% else %}
                                            {{ comment.modified_at|date:"Y년 m월 d일 H:i A" }} 수정됨
                                        {% endif %}
                                    </small>
                                </h6>
                            </div>
                
                            <!-- 수정/삭제 버튼 -->
                            {% if user.is_authenticated and comment.author == user %}
                                <div>
                                    <a href="/blog/update_comment/{{ comment.pk }}/" class="btn btn-sm btn-info" style="height: calc(2.25rem + 2px); border: none; background-color: transparent; color: #007bff; box-shadow: none;">
                                        <small>수정</small>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}" class="btn btn-sm btn-danger" style="height: calc(2.25rem + 2px); border: none; background-color: transparent; color: #007bff; box-shadow: none;">
                                        <small>삭제</small>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                
                        <!-- 댓글 내용 -->
                        <p>{{ comment.content | linebreaks }}</p>
                    </div>
                </div>
                
                <!-- 삭제 확인 Modal -->
                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">정말 삭제하시겠습니까?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <del>{{ comment | linebreaks }}</del>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="height: calc(2.25rem + 2px); border: none; background-color: transparent; color: #007bff; box-shadow: none;">취소</button>
                                <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/" style="height: calc(2.25rem + 2px); border: none; background-color: transparent; color: #007bff; box-shadow: none;">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}